.aboutmain{
    height: 70vh;
    width: 100%;
    background-color:#C2278E;
    position: relative; 
}
.gradian{
    position:absolute;
    height: 100%;
    width: 60%;
    left: 30%;
}

.loreamdiv{
    width: 26%;
    height: auto;
    position: absolute;
    float: right;
    right: 5%;
    top: 41%;
    color: white;
    font-size: 16px;
}
.aboutspan{

height: 22%;

}
.aboutspan div{
    margin-top: 9%;
    
    color: white;
    font-family: 'Plus Jakarta Sans';
font-size: 30px;
font-weight: 400;
line-height: 72px;
letter-spacing: 0em;
text-align: left;
    margin-left: 5%;
}
.aboutimgediv{
    display: flex;
    align-items: center;
    /* padding: 7% 6% 0 5%; */
    /* height: 40%; */
    height: 0;
    justify-content: space-around;
}
.aboutimgediv img{
    width: 18%;
}
/* .howards{
    height: 20vh;
} */