.maskgroupmain{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}
.maskgroupmain img{
    height: 100%;
    width: 100%;
    margin-left: 0%;
    padding: 0;
}
.maskgroupmain button{
    position: absolute;
    left: 12%;
    top: 64%;
    background: #F837B7;
    padding: 12px 40px 12px 40px;
    border-radius: 30px;
    border: none;

}

@media only screen and (max-width: 600px){

.maskgroupmain img {
    height: 50vh;
    width: 100%;
    margin-left: 0%;
    padding: 0;
    object-fit: fill;
}
.maskgroupmain button {
    display: none;
}
}

