.footermain{
    height: 100vh;
    width: 100%;
  background-color: black;
  margin: 0px;
  position: relative;
}
.footerimage{
    height: 100%;
    width: 100%;
}
.footerimage img{
    height: 90%;
    width: 100%;
    margin-top: 4%;
}
.logofotter{
    position: absolute;
    width: 25%;
    bottom: 22%;
    left: 14%;
    display: flex;
    flex-direction: column;
}
.logofotter img{
    width: 40%;
    margin-top: 6%;
}
.logofotter div{
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-top: 3%;
}
.ourscope{
    position: absolute;
    bottom: 17%;
    left: 38%;
    width: 20%
}
.ourcarear{
    position: absolute;
    bottom: 22%;
    right: 25%;
    width: 20%;
}
.ouradress{
    position: absolute;
    bottom: 26%;
    right: 6%;
    width: 20%
}
.resource{
font-family: 'Plus Jakarta Sans';
font-size: 18px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: white;

}
.Home{
    font-family: 'Plus Jakarta Sans';
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #E0E0E0;

}
.liab{
    font-family: 'Montserrat';
font-size: 10px;
font-weight: 500;
line-height: 13px;
letter-spacing: 0em;
text-align: left;
color: white;
}
.Website{
    font-family: Montserrat;
font-size: 10px;
font-weight: 400;
line-height: 13px;
letter-spacing: 0em;
text-align: left;
color: #E0E0E0;
margin-top: 2%;
}
.hrtag{
    position: absolute;
    bottom: 3%;
    height: 2px;
    color: white;
}
.advisor{
    position: absolute;
    bottom: 1%;
    display: flex;
    align-items: center;
}
.advisorspan{
    width: 40%;
    margin-left: 20%;
font-family: 'Plus Jakarta Sans';
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: #E0E0E0;
}
.socialicon{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}